<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>sanduhr_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 0}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_10</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 70}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_11</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 140}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_12</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 0}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_13</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 70}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_14</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 0}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_15</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 140}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_16</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 70}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_17</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 140}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_18</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 0}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_19</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 70}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 140}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_20</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 70}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_21</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 140}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_22</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 70}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_23</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 0}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_24</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 0}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_25</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 140}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_26</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 140}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_27</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 70}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_28</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_29</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 70}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 0}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_30</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 0}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 0}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 0}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_6</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 140}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_7</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 70}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_8</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 140}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanduhr_9</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{451, 0}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>sanduhr-hd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>