<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>portal0-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal1-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal10-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal11-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal12-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal13-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal14-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal15-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal16-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 85}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal17-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 85}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal18-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 85}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal19-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 85}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal2-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 85}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal20-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 85}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal21-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 85}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal22-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 85}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal23-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 170}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal24-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 170}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal25-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 170}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal3-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 170}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal4-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 170}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal5-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 170}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal6-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 170}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal7-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 170}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal8-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 255}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal9-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 255}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>hdportals</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>