<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>schlange0Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {109, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{111, 111}</string>
			<key>spriteSourceSize</key>
			<string>{111, 111}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {111, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>schlange1Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{208, 26}, {216, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 170}</string>
			<key>spriteSourceSize</key>
			<string>{520, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 0}, {520, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>schlange10Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{208, 28}, {294, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 170}</string>
			<key>spriteSourceSize</key>
			<string>{520, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{639, 0}, {520, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>schlange11Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{208, 28}, {302, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 170}</string>
			<key>spriteSourceSize</key>
			<string>{520, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1163, 0}, {520, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>schlange12Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{207, 28}, {312, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 170}</string>
			<key>spriteSourceSize</key>
			<string>{520, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 174}, {520, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>schlange2Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{208, 26}, {220, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 170}</string>
			<key>spriteSourceSize</key>
			<string>{520, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{524, 174}, {520, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>schlange3Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{207, 27}, {230, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 170}</string>
			<key>spriteSourceSize</key>
			<string>{520, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1048, 174}, {520, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>schlange4Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{208, 26}, {240, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 170}</string>
			<key>spriteSourceSize</key>
			<string>{520, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 348}, {520, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>schlange5Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{208, 27}, {250, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 170}</string>
			<key>spriteSourceSize</key>
			<string>{520, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{524, 348}, {520, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>schlange6Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{209, 27}, {254, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 170}</string>
			<key>spriteSourceSize</key>
			<string>{520, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1048, 348}, {520, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>schlange7Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{208, 27}, {264, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 170}</string>
			<key>spriteSourceSize</key>
			<string>{520, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 522}, {520, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>schlange8Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{208, 27}, {272, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 170}</string>
			<key>spriteSourceSize</key>
			<string>{520, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{524, 522}, {520, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>schlange9Wasser</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{209, 27}, {278, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 170}</string>
			<key>spriteSourceSize</key>
			<string>{520, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1048, 522}, {520, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>schlangeLangZiehenSpriteSheetWasser-hd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
